@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 100 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v23/zYXzKVElMYYaJe8bpLHnCwDKr932-G7dytD-Dmu1syxeKYY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/arimo/v35/P5sMzZCDf9_T_10WxCF8jA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

body {
    font-family: 'IBM Plex Sans';
    background: #F2EFE7;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#container {
    border: 3px solid #9ACBD0;
    border-radius: 12px;
    background: #48A6A7;
    width: 80%;
    padding: 20px;
}

#container,
main {
    max-width: 500px;
}

h1 {
    font-family: 'Arimo';
    text-align: center;
    margin-bottom: 20px;
}

form {
    border: 3px solid #9ACBD0;
    border-radius: 12px;
    background: #48A6A7;
    display: block;
    gap: 15px;
    padding: 20px;

}

[id^=task] {
    width: 20px;
}

input[type="text"] {
    width: 100%;
    background: #9ACBD0;
    border-radius: 4px;
    border: #000000 solid;
    box-shadow:  3px 2px 2px black;
}

@media screen and (max-width: 668px) {
    form {
        flex-direction: column;
    }

}
